body{
    font-family: 'Crimson Text', serif;
    font-weight: 200;
}

*{
    margin: 0%;
    padding: 0%;
}

/*header*/

.headerContainer{
    display: flex;
    background-color: white;
    justify-content: space-between;
    background-size: 100%;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    justify-content: left;
    width: 520px;
    height: 50px;
    margin-top: 35px;
    margin-left: 35px;
}

.logo img{
    display: flex;
    width: 220px;
    height: 30px;
}

.headerContainer ul{
    display: flex;
    justify-content: right;
    justify-content: space-between;
    text-align: flex-end;
    width: 36%;
    font-size: 20px;
    list-style: none;
    margin-top: 40px;
    margin-right: 35px;
}

.active a{
    color: #eeb699;
}

.headerContainer ul li a{
    text-decoration: none;
    color: #343536;

}


.headerContainer ul li a:hover{
    color: #ef8346;
    transition: 0.5s;
}

.mainIMG{
    display: flex;
    background-image: url(imgs/main.jpeg);
    background-size: 100% 100%;
    height:  600px;
}


.mainIMG{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p1{
    display: flex;
    font-size: 30px;
    justify-content: left;
    width: 700px;
    color: #343536;
    font-style: italic;
}

#p2{
    display: flex;
    font-size: 70px;
    width: 800px;
    justify-content: center;
    color: #343536;
}

/*First section*/

.first-section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    color: white;
    
}

.img1 img{
    height: 320px;
    width: 250px;
    margin-bottom: 135px;
}

.first-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
	justify-content: space-between;
	align-content: space-evenly;
    background-color: #eeb699;
    color: #343536;
}

.first-p p{
    display: flex;
    padding: 20px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 1.5;
    color: #5c5c5c;
    font-size: 20px;
    
}

 .first-p h3{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1;
    font-style: italic;
    font-weight: 100;
    font-size: 45px;
    color: #343536;
}

#paragraph2{
    margin-bottom: 70px;
}

.img2 img{
    height: 300px;
    width: 200px;
    margin-top: 90px;
    
}




.first-p button{
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    width: 120px;
    margin-bottom: 40px;
    padding: 20px;
    font-size: 15px;
    border: none;
    background-color: #343536;
    color:#eeb699;
    font-style:oblique;
}

.first-p button:hover{
    background-color: #eeb699;
    color: #343536;
    transition: 0.3s;
}


/*Second Section*/

.second-section{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

#h1-2{ 
    display: flex;
    justify-content: left;
    color:#eeb699;
    font-style: italic;
    font-size: 100px;
    margin-left: 60px;
    font-weight: 1;
    
}

.paragraphs2{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-evenly;
    margin-top: 30px;
}

.p1-2{
    display: flex;
    flex-direction: column;
}

.paragraphs2 h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 50;
    
    color: #343536;
}

.paragraphs2 p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 250px;
    color: #5c5c5c;
    font-size: 20px;
}

/*Third section*/

.third-section{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
    margin-top: 90px;
    margin-bottom: 40px;
    
}

.img-s3 img{

    align-items: right;
    height: 350px;
    width: 320px;
    margin-top: 90px;
}

.content-s3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #eeb699;
    width: 700px;
    height: 600px;
}

.content-s3 h3{
    display: flex;
    margin-top: 50px;
    color: #343536;
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
}

.content-s3 p{
    display: flex;
    text-align: center;
    margin-left: 65px;
    margin-right: 65px;
    line-height: 1.5;
    color: #5c5c5c;
    font-size: 20px;
}

#p1-s3{
    margin-top: 40px;
    margin-bottom: 20px;
}



.hr1-s3 {
    display: flex;
    margin-top: 105px;
    background-color: #5c5c5c;
    height: 310px;
    margin-right: 20px;
    width: 0.3px;

}


