body{
    font-family: 'Crimson Text', serif;
    font-weight: 200;
}

*{
    margin: 0%;
    padding: 0%;
}

/*header*/

.headerContainer{
    display: flex;
    background-color: white;
    justify-content: space-between;
    background-size: 100%;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    justify-content: left;
    width: 520px;
    height: 50px;
    margin-top: 35px;
    margin-left: 35px;
}

.logo img{
    display: flex;
    width: 220px;
    height: 30px;
}

.headerContainer ul{
    display: flex;
    justify-content: right;
    justify-content: space-between;
    text-align: flex-end;
    width: 45%;
    font-size: 20px;
    list-style: none;
    margin-top: 40px;
    margin-right: 35px;
}

.active a{
    color: #eeb699;
}

.headerContainer ul li a{
    text-decoration: none;
    color: #343536;

}


.headerContainer ul li a:hover{
    color: #ef8346;
    transition: 0.5s;
}

.mainIMG{
    display: flex;
    background-image: url(imgs/main.jpeg);
    background-size: 100% 100%;
    height:  600px;
}


.mainIMG{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p1{
    display: flex;
    font-size: 30px;
    justify-content: left;
    width: 700px;
    color: #343536;
    font-style: italic;
}

#p2{
    display: flex;
    font-size: 70px;
    width: 800px;
    justify-content: center;
    color: #343536;
}

/*First section*/

.first-section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    color: white;
    
}

.img1 img{
    height: 320px;
    width: 250px;
    margin-bottom: 135px;
}

.first-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
	justify-content: space-between;
	align-content: space-evenly;
    background-color: #eeb699;
    color: #343536;
}

.first-p p{
    display: flex;
    padding: 20px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 1.5;
    color: #5c5c5c;
    font-size: 20px;
    
}

 .first-p h3{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1;
    font-style: italic;
    font-weight: 100;
    font-size: 45px;
    color: #343536;
}

#paragraph2{
    margin-bottom: 70px;
}

.img2 img{
    height: 300px;
    width: 200px;
    margin-top: 90px;
    
}




.first-p button{
    width: 120px;
    margin-bottom: 40px;
    padding: 20px;
    font-size: 15px;
    border: none;
    background-color: #343536;
    color:#eeb699;
    
}

.first-p button:hover{
    background-color: #eeb699;
    color: #343536;
    transition: 0.3s;
}

.first-p a{
    text-decoration: none;
}


/*Second Section*/
.second-section{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.heading2 { 
    display: flex;
    justify-content: left;
    
    
}

.heading2 p{
    color:#ef8346;
    font-style: italic;
    font-size: 100px;
    margin-left: 60px;
    font-weight: 800px;
}
.paragraphs2{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-evenly;
    margin-top: 30px;
}
.p1-2{
    display: flex;
    flex-direction: column;
}
.paragraphs2 h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 50;
    
    color: #343536;
}
.paragraphs2 p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 250px;
    color: #5c5c5c;
    font-size: 20px;
}


/*third section*/


.third-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    margin-top: 90px;
    margin-bottom: 40px;
}

.img-s3 img{
    height: 350px;
    width: 320px;
    margin-top: 90px;
}

.content-s3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #eeb699;
    width: 700px;
    height: 600px;
}

.content-s3 h3{
    margin-top: 50px;
    color: #343536;
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
}

.content-s3 p{
    display: flex;
    text-align: center;
    margin-left: 65px;
    margin-right: 65px;
    line-height: 1.5;
    color: #5c5c5c;
    font-size: 20px;
}

#p1-s3{
    margin-top: 40px;
    margin-bottom: 20px;
}


.hr1-s3 hr{
    display: flex;
    margin-top: 105px;
    background-color:#5c5c5c;
    height: 310px;
    margin-right: 20px;
    width: 0.3px;
}

/*Fourth section*/

.fourth-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 50px;
}

.p1-s4{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.p1-s4 h3{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #343536;
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
    text-align: left;
    line-height: 1;
}

.p1-s4 p{
    color: #5c5c5c;
    text-align: left;
    font-size: 20px;
    line-height: 1.3;
}

.fourth-section img{
    width: 550px;
    height: 400px;
    margin-top: 30px;
}

.p1-s4 button{
    width: 120px;
    margin-top: 40px;
    padding: 20px;
    font-size: 15px;
    border: none;
    color:white;
    background-color:#343536;
}

.p1-s4 a{
    text-decoration: none;
}

.p1-s4 button:hover{
    color:#ef8346;
    background-color: white;
    transition: 0.3s;
}

/*fifth section*/

.fifth-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 90px;
    align-items: center;
}

.fifth-section img{
    width: 550px;
    height: 400px;
    margin-top: 30px;
}

.p1-s5{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.p1-s5 h3{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #343536;
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
    text-align: left;
    line-height: 1;
}

.p1-s5 p{
    align-items: center;
    color: #5c5c5c;
    font-size: 20px;
    line-height: 1.3;
}

.p1-s5 button{
    width: 120px;
    margin-top: 40px;
    padding: 20px;
    font-size: 15px;
    border: none;
    color:white;
    background-color:#343536;
}

.p1-s5 a{
    text-decoration: none;
}

.p1-s5 button:hover{
    color:#ef8346;
    background-color: white;
    transition: 0.3s;
}

/*sixth section*/

.sixth-section{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

}

.img1-s6 img{
    width: 300px;
    height: 400px;
    margin-top: 40px;
}

.middle-part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
	justify-content: space-between;
	align-content: space-evenly;
    background-color: #eeb699;
    margin-top: 90px;
    margin-bottom: 90px;
}

.middle-part p{
    display: flex;
    padding: 20px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 1.5;
    color: #5c5c5c;
    font-size: 20px;
    
}

 .middle-part h3{
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1;
    font-style: italic;
    font-weight: 100;
    font-size: 45px;
    color: #343536;
}

.middle-part h4{
    text-align: center;
    font-size: 20px;
    color: #343536;
    font-weight: 1;
}


.middle-part ol li{
    margin-top: 30px;
    text-decoration: none;
    font-size: 35px;

    color:#343536;
    font-style: italic;
    margin-left: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.img2-s6 img{
    width: 300px;
    height: 400px;
    margin-top: 190px;
}


/*seventh section*/

.ratin-h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    background-color: #f5f5f5 ;
}

.ratin-h3 p{
    font-weight: 300px;
    font-size: 40px;
    font-style: italic;
    color: #363231;
    margin-top: 50px;
}

.ratings-s7{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    background-color: #f5f5f5;
}
#yllat-s7{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #eeb699;
    margin-bottom: 20px;
    
}
#unknown-s7{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #eeb699;
    margin-bottom: 50px;
}

/*eigth section*/
.eighth-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.heading-s8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading-s8 p{
    margin-top: 90px;
    font-size: 50px;
    font-weight: 200px;
    color:#343536;
    font-style: italic;
}

.datetime-s8{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 80px;
    color: #ef8346;
    margin-top: 40px;
    margin-bottom: 50px;
}

.datetime-s8 p{
    font-weight: lighter;
}

/*footer-i*/
footer{
    background-color: #343536;
}
.footer{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
	align-content: stretch;
    background-color: #343536;
    padding-top: 60px;
    padding-bottom: 20px;
}

.logo-f img{
    display: flex;
    justify-content: left;
    width: 320px;
    height: 50px;
}

#info-f {
    display: flex;
    justify-content: left;
    color:#ef8346;
    font-size: 25px;
    font-weight: 200;
}

.info-f{
    color: white;
    
}

.hr-f{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.c{
    color: #ccc;
    text-align: center;
    padding-bottom: 30px;
}





/*ABOUT US*/
#header1{
    margin-top: 85px;
    margin-left: 50px;
    color: #eeb699;
    
    font-size: 120px;
    font-weight: 100;
}
.paragrafet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}
#p--1{
    padding-top: 10px;
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-size: medium;
    margin-left: 30px;
    color: grey;
    line-height: 2.5;
}
#p--2{
    
    padding-top: 10px;
    text-align:left;
    font-family: 'Crimson Text', serif;
    font-size: medium;
    margin-left: 30px;
    color: grey;
    line-height: 2.5;
}

hr{
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    
    width: 70%;
    color:  grey;
    
}
.foto2{
    
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;

   
}
.check{
   
    font-size: x-large;
    margin-top: 5%;
    color: black;
    font-family:'Crimson Text', serif ;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    line-height: 3;
}
ol{
    list-style: none;
}
.bookResort{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
/*button {
    
    background-color: rgb(199, 99, 42);
    border: none;
    color: white;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}*/
.rooms{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

@keyframes revealText {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .revealing-text {
    overflow: hidden;
    white-space: nowrap;
    animation: revealText 4s steps(20) 1; /* Adjust the duration and steps as needed */
  }
#DESCRIPTION{
    font-family: 'Crimson Text', serif;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 80;
    font-size: xx-large;
}
#ResortFood{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* .ratings{
    margin-top: 80px;
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family:'Crimson Text', serif ;
    font-weight: 100;
    text-align: center;
}
#yllat{
    display: flex;
    justify-content: center;
    color: #eeb699;
    margin-bottom: 20px;
    
}
#unknown{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #eeb699;
} */

/* .footer{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Crimson Text', serif ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#info{
    line-height: 3;
}
#hr2{
    width: 99%;
}
#copyright{
    margin-top: 10px;
    color: #5c5c5c;
    display: flex;
    justify-content: right;
    font-size: small;
} */
/*ROOMS-ndryshime ne main foto*/
.header-Rooms{
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    background-image: url(imgs/monv3.jpeg);
    background-size: 100% 100%;
    height:  550px;
    
    padding: 20px; 
    position: relative;
}
#img-header{
    font-size: 70px;
    color: #343536;
    font-style: italic;
    margin: 0; /* Reset default margin */
    position: absolute; /* Set position to absolute */
    top: 20px; /* Adjust top position */
    left: 20px; 
    
}





.header-Rooms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pershkrimi a {
    color: black; 
    text-decoration: none; 
}


#pershkrimi a:visited {
    color: brown; 
}
.dhoma1 {
    display: flex;
    align-items: center;
    width: 100%;
}

#dhomafoto {
    margin-top: 110px;
    width: 50%;
    height: auto;
    
}

#dhomafoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pershkrimi {
    margin-top: 90px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    line-height: 3;
    width: 40%;
    padding: 20px;
    margin-left: 90px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#doubleRoom{
    color: #363231;
    font-weight: 100;
    font-size: 50px;
    
}

#pershkrimi2 a {
    color: black; 
    text-decoration: none; 
}


#pershkrimi2 a:visited {
    color: brown; 
}

.dhoma2 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

#dhomafoto2 {
    width: 50%;
    height: auto;
}

#dhomafoto2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pershkrimi2 {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    line-height: 3;
    width: 50%;
    padding: 20px;
    margin-right: 60px;
    margin-left: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    order: -1 !important; /* Changing the order to display before the image */
}

#doubleRoom2 {
    color: #363231;
    font-size: 50px;
    font-weight: 100;
    
}
#pershkrimi3 a {
    color: black; 
    text-decoration: none; 
}


#pershkrimi3 a:visited {
    color: brown; 
}
.dhoma3 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    width: 100%;
}

#dhomafoto3 {
    width: 50%;
    height: auto;
    
}

#dhomafoto3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pershkrimi3 {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    line-height: 3;
    width: 50%;
    padding: 10px;
    margin-left: 70px;
    margin-right: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#doubleRoom3{
    color: #363231;
    
    font-size: 50px;
    font-weight: 100;
    
}
#pershkrimi4 a {
    color: black; 
    text-decoration: none; 
}


#pershkrimi4 a:visited {
    color: brown; 
}
.dhoma4 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

#dhomafoto4 {
    width: 50%;
    height: auto;
}

#dhomafoto4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pershkrimi4 {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    line-height: 3;
    width: 50%;
    padding: 20px;
    margin-right: 60px;
    margin-left: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    order: -1 !important; /* Changing the order to display before the image */
}

#doubleRoom4 {
    color: #363231;
    
    font-size: 50px;
    font-weight: 100;
  
}
#pershkrimi5 a {
    color: black; 
    text-decoration: none; 
}


#pershkrimi5 a:visited {
    color: brown; 
}
.dhoma5 {
    display: flex;
    align-items: center;
    width: 100%;
    
    
}

#dhomafoto5 {
    margin-top: 80px;
    width: 50%;
    height: auto;
    
    
}

#dhomafoto5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pershkrimi5 {
    margin-top: 80px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    line-height: 3;
    width: 50%;
    padding: 40px;
    margin-left: 70px;
    margin-right: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#doubleRoom5{
    color: #363231;
    font-size: 50px;
    font-weight: 100;
    
}
/*ROOM 1*/
.room1-fotot{
    display: flex;
    justify-content: space-between;
}
#double1{
    color: #363231;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}
#capacity1{
    font-size: large;
    color: #363231;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
}
/*
#tabela1{
    border-collapse: collapse;
    margin-left: 50px;
}
#tabela1 td{
    border: 1px solid black;
    padding: 8px;
}*/
#teksti-room1{
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
    color: #363231;
    font-size: large;

}
.bookResort{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 20px;
}
button {
    
    background-color: rgb(199, 99, 42);
    border: none;
    color: white;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: radius 0;
}
/* .amenities{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    line-height: 5;
    font-size: larger;
    color: #363231;
}
#amenities-header{
    font-size: xx-large;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #363231;
} */
/*ROOM2*/

.room2-fotot{
    display: flex;
    justify-content: space-between;
}
#deluxe2{
    color: #363231;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}
#capacity2{
    font-size: large;
    color: #363231;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
}

#teksti-room2{
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
    color: #363231;
    font-size: large;

}
/*ROOM 3*/

.room3-fotot{
    display: flex;
    justify-content: space-between;
}
#junior3{
    color: #363231;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}
#capacity3{
    font-size: large;
    color: #363231;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
}

#teksti-room3{
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
    color: #363231;
    font-size: large;

}
/*Room 4*/

.room4-fotot{
    display: flex;
    justify-content: space-between;
}
#twin4{
    color: #363231;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}
#capacity4{
    font-size: large;
    color: #363231;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
}

#teksti-room4{
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
    color: #363231;
    font-size: large;

}
/*Room 5*/
.room5-fotot{
    display: flex;
    justify-content: space-between;
}
#supertwin5{
    color: #363231;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
}
#capacity5{
    font-size: large;
    color: #363231;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
}

#teksti-room5{
    margin-left: 50px;
    margin-top: 20px;
    line-height: 2;
    color: #363231;
    font-size: large;

}


/* Contact Us */


.mainIMG-c{
    display: flex;
    background-image: url(imgs/hallway.jpg);
    background-size: 100% 100% ;
    height:  600px;
}

#title-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: #5c5c5c;
    font-weight: lighter;
    font-size: 70px;
    font-style: italic;
    margin-top: 90px;
    margin-left: 90px;
}

.firstSection-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;

}

.left-part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
}

#p1-left{
    margin-top: 30px;
    color: #ef8346;
    font-size: 25px;
}

#p2-left{
    color: #363231;
    font-size: 45px;

    font-style: italic;
}

.left-part ol{
    margin-top: 10px;
    
}

.left-part li{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 30px;
    color: #363231;
}

.left-part hr{
    width: 450px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-color: #f5f5f5;
}

.icons-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}

/* #p1-right{
    margin-top: 60px;
    color: #ef8346;
    font-size: 25px;
}

#p2-right{
    color: #363231;
    font-size: 45px;
    margin-bottom: 10px;
    font-style: italic;
} */

.form-part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
}

.form-part form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 45px;
    
}

input[type=text]{
    margin-top: 10px;
    margin-bottom: 10px;
    border-left:none;
    border-right: none;
    border-top:1px #d7d1d1;
    font-size: 20px;
    font-weight: 100;
}

input[id=message]{
    height: 60px;
    font-size: 15px;
}

label{
    font-size: 30px;
    color: #5c5c5c;
}

form button{
    justify-content: center;
}

#submit-form{
    width: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    font-size: 15px;
    border: none;
    background-color: #343536;
    color:#ef8346;
}


#submit-form:hover{
    color:#ef8346;
    background-color: white;
    transition: 0.3s;
}

/*Pool and Spa*/

.mainImg-ps{
    display: flex;
    background-image: url(imgs/pool7.jpg);
    background-size: 100% 100%;
    height:  660px;
}

.firstSection-ps{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 90px;
}

.img-ps{
    display: flex;
    flex-direction: row;
}

.img-ps img{
    height: 500px;
    width: 400px;
}

.img-ps hr{
    display: flex;
    margin-top: 45px;
    background-color: #5c5c5c;
    height: 400px;
    margin-left: 25px;
    width: 0.3px;
}

.content1-ps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    

}

#p1-ps{
    font-size: 35px;
    font-style: italic;
    font-weight: 100;
    color:#363231;
}

#p2-ps{
    color: #5c5c5c;
    font-size: 20px;
    margin-top: 20px;
}

#p3-ps{
    margin-top: 30px;
    font-weight: bold;
    color:#ef8346;
    font-size: 20px;
}

/*second section*/


.secondSection-ps{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-evenly;
    margin-bottom: 90px;
    margin-top: 120px;
}

.img2-ps{
    display: flex;
    flex-direction: row;
}

.img2-ps img{
    margin-top: 40px;
    height: 300px;
    width: 450px;
}

.img2-ps hr{
    display: flex;
    margin-top: 65px;
    background-color: #5c5c5c;
    height: 250px;
    margin-right: 25px;
    width: 0.3px;
}

.content2-ps ol{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 15px;
}

.content2-ps ol li{
    font-size: 19px;
    color: #ef8346;
    font-style: italic;
}

/*Book Now Page*/

.hr-b{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hr-b hr{
    border-width: 1px;
    border-color: #ef8346;
    border-top: none;
    margin-bottom: 30px; 
}
.check-in-form {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
}

.check-in-form form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.check-in-form form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px; /* Adjust the space between label-input pairs */
}

.check-in-form form label {
    margin-bottom: 15px; /* Adjust space between label and input */
}
#checkout{
    width: 160px;
}
#checkin{
    width: 160px 
}
/*per me ju ndryshu gjatesia kur e type*/
.check-in-form form input[type="date"]:focus,
.check-in-form form input[type="number"]:focus {
    width: 250px;
    height: 35px; 
    border-color: dodgerblue;
}

.avalaible{
    margin-top: 200px;
    margin-left: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.cmimi{
    padding-left: 350px;
}
.searchDates{
    display: flex;
    justify-content: flex-start;
    padding-left: 350px;
}
 button {
    
    background-color: rgb(199, 99, 42);
    border: none;
    color: white;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: radius 0;
}
.dhoma1Avalaible{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*AMENTIES NDRYSHIME*/
.amenities{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    justify-content: space-evenly;
    line-height: 5;
    font-size: x-large;
    color: #363231;
}
.amenities ol li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

.amenities ol li img {
    margin-right: 10px; /* Adjust the margin between the image and text */
    height: 30px;
}
#amenities-header{
    font-size: xx-large;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #363231;
}
/*AMENTIES NDRYSHIME*/
/*SLIDESHOW*/

.slideshow-container {
    overflow: hidden;
}

.room3-fotot {
    display: flex;
    transition: transform 1s ease-in-out;
}

.room3-fotot img {
    margin-right: 50px; /* Adjust the margin as needed */
}
/*SLIDESHOW*/